# MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
#
# Local MongoDB example:
# MONGODB_URI=mongodb://127.0.0.1:27017

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=hadoukraft
PORT=3100
